.App-body {
  display: flex;
  }

.App-body .items-info {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.side-img {
  background-image: url('../assets/sethoscope.jpg');
  width: 50%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
}

.side-login {
  margin: 25px;
  height: 30px;
  text-decoration: none;
  padding: 2px 23px 7px 23px;
  background: #ffffff;
  color: #d73953;
  border-radius: 4px;
}

.side-login:hover {
  color: #ffffff;
  background: #d73953;
}
