.App-profile {
  display: flex;
}

.App-profile .sidebar {
  width: 270px;
  background-color: rgb(255, 106, 106);
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.prof-pic {
  border-radius: 50%;
  border: 3px solid #ffffff;
  margin-bottom: 2px;
  margin-top: 30px;
}

.prof-info {
  margin-bottom: 50px;
}

.prof-info h4, p {
  margin: 0;
 }
.sidebar .nav-link {
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
  padding: 10px 15px 10px 15px;
  border: none;
  background-color: inherit;
  color: white;
  cursor: pointer;
  text-align: left;
  border-radius: 10px;
  font-size: 17px;
}

.sidebar .nav-link:hover {
  background-color: #d73953;
}

.nav-link.active {
  background-color: #d73953;
}

.content {
  flex-grow: 1;
  padding: 20px;
  background-color: #ffffff;
  background-color: rgb(249, 249, 249);
}
