* {
  box-sizing: border-box;
}

.page {
height: 100vh;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background: url('../assets/mammo_login.jpeg') no-repeat;
background-size: cover;
background-position: center;
}

.App-signup {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  box-shadow: 0 0 10px pink;
  backdrop-filter: blur(30px);
  color: #ffffff;
  border-radius: 17px;
  padding: 30px 20px;
}

.App-signup .h-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
}

.h-logo h1 {
  font-size: 36px;
  text-align: center;
}

.h-logo .logo {
  font-size: 50px;
  animation: App-logo-spin linear 20s infinite;
  color: #d73953;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-signup .input-box {
  position: relative;
  width: 100%;
  height: 30px;
  margin: 30px 0;
}

.App-signup .Name {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.Name .input-box {
  position: relative;
  width: 47%;
  margin: auto;
  margin-top: 0
}

.App-signup .input-box p {
font-size: 13px;
text-align: left;
margin-left: 10px;
margin-bottom: 5px;
}
.App-signup .input-box  input {
  width: 99%;
  height:100%;  
  background: transparent;
  border: none;
  border: 2px solid rgba(255, 255, 255, .2);
  outline: none;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  color: #ffffff;
  font-size: 16px;
}

.input-box  input::placeholder {
  color: #ffffff;
  opacity: 75%;
}

.input-box .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  font-size: 16px;
  transform: translateY(-50%);
} 


.App-signup button {
  width: 100%;
  height: 45px;
  background: #ffffff;
  border-radius: 40px;
  box-shadow: 0 0 10px pink;
  cursor: pointer;
  font-size: 16px;
  color: #333333;
  font-weight: 700;
  border: none;
}

.Terms {
margin-top: 10px;
}

.Terms p {
  font-size: 11px;
}

.gender {
  padding-top: 25px;
  }
 
.gender .but_gen {
  position: relative;
  display: flex;
  width: 180px;
  height: 40px;
  border: 0.1rem solid rgba(255, 255, 255, .2);
  font-size: 1rem;
  color: #ffffff;
  text-decoration: none;
  border-radius: 10px;
  justify-content: space-around;
  align-items: center;
}

.gender ._5k_3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 }


.gender p {
  margin:0 0 5px 10px;
  text-align: left;
  font-size: 13px;
} 


.App-signup .login {
  text-decoration: None;
  color: #ffffff;
}

.App-signup .login:hover {
  text-decoration: underline;
}
