* {
  box-sizing: border-box;
}

.signup-page {
height: 100vh;
width: 100%;
display: flex;
}

.signup-display {
  background-color: rgb(255, 157, 157);
  width: 50%;
  height: 100vh;
  padding: 50px 10px 50px 10px;
}

.disp-container {
  width: 78%;
  height: 88%;
  background: rgb(255, 225, 255);
  margin: auto;
  transform: translateY(8%);
  border-radius: 10px;
  display: flex;
  position: relative;
 }

.disp-container img {
  width: 400px;
  height: 98%;
}

.text-overlay {
  position: absolute;
  font-size: 26px;
  text-align: left;
  padding: 20px;
  border-radius: 10px;
  right: 30px;
  font-weight: 500;
}

.text-overlay .d-title {
 color: #d73953;
 font-weight: 700;
 font-size: 36px;
}

.App-signup {
  width: 50%;
  height: 100vh;
  padding: 30px 20px;
}

.App-signup form {
  transform: translateY(12%);
  width: 400px;
  margin: auto;
}

.App-signup .h-logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  margin-bottom: 10px;
}

.h-logo p {
  font-size: 30px;
  font-weight: bold;
}

.h-logo .logo {
  font-size: 50px;
  animation: App-logo-spin linear 20s infinite;
  color: #d73953;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-signup .input-box {
  position: relative;
  width: 100%;
  height: 30px;
  margin: 30px 0;
}

.App-signup .Name {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.Name .input-box {
  position: relative;
  width: 47%;
  margin: auto;
  margin-top: 0
}

.App-signup .input-box p {
font-size: 13px;
text-align: left;
margin-left: 10px;
margin-bottom: 5px;
font-weight: bold;
}
.App-signup .input-box  input {
  width: 99%;
  height:100%;  
  background: transparent;
  border: 1px solid grey;
  outline: none;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  font-size: 16px;
}

.input-box  input::placeholder {
  opacity: 75%;
  font-size: 14px;
}

.input-box .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  font-size: 16px;
  transform: translateY(-50%);
  color: #888888;
} 


.App-signup button {
  width: 100%;
  height: 45px;
  background: #d73953;
  border-radius: 10px;
  box-shadow: 0 0 10px pink;
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
  font-weight: 700;
  border: none;
}

.App-signup button:hover {
 opacity: 80%;
}

.Terms {
margin-top: 10px;
}

.Terms p {
  font-size: 11px;
}

.Terms p a {
  color: #d73953;
}
.gender {
  padding-top: 25px;
  }
 
.gender .but_gen {
  position: relative;
  display: flex;
  width: 180px;
  height: 40px;
  border: 1px solid grey;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 10px;
  justify-content: space-around;
  align-items: center;
}

.gender ._5k_3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 }


.gender p {
  margin:0 0 5px 10px;
  text-align: left;
  font-size: 13px;
  font-weight: bold;
} 


.App-signup .login {
  text-decoration: None;
  color: #d73953;
}

.App-signup .login:hover {
  text-decoration: underline;
}
